:root {
	--small-padding: 5px;
	--soft-padding: 10px;
	--hard-padding: 10px;
	--soft-margin: 10px;
	--soft-radius: 5px;
}
body,
::after,
::before {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	transition-timing-function: ease-in-out;
}
#root {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	padding: var(--hard-padding);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#form {
	border-radius: var(--soft-radius);
	margin: auto;
	max-width: 400px;
	background-color: white;
	width: 50%;
	padding: var(--soft-padding);
	height: 50%;
	border: 1px solid black;
}
#form form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#submit {
	margin: 10px auto auto auto;
	width: 40%;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	border-radius: var(--soft-radius);
	background: none;
}
#submit:hover {
	background-color: beige;
	transition-duration: 0.3s;
}

#form input,
#form button {
	display: block;
	padding: var(--small-padding);
}
#building {
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 100vh;
	/* border: 1px solid black; */
}
.level {
	height: 100px;
	border: 1px solid black;
}
.floor {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: fit-content;
	padding: var(--soft-padding);
}

.hidden {
	display: none !important;
}
.visible {
	display: initial !important;
}

.lifts {
	align-self: center;
	display: flex;
	position: absolute;
	bottom: 1px;
	left: 100px;
	float: right;
	margin-left: 100px;
	min-width: 80%;
}

.lift {
	display: block;
	height: 62px;
	display: flex;
	background-color: grey;
	flex-direction: row;
	width: 40px;
	margin-right: 20px;
	position: relative;
}

.lift div {
	transition: clip-path 1s ease-in-out;
	clip-path: inset(0);
	width: 20px;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	background-color: rgb(3, 65, 60);
	top: 0;
	bottom: 0;
}
.lift div:nth-child(2) {
	left: 21px; /* 1 px for border width */
}
#back-button {
	width: 100%;
	border: none;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: flex-start;
}
#back-button button {
	margin-bottom: 40px;
	float: left;
}
.right-opening-gate {
	clip-path: inset(0 0 0 100%) !important;
	transition-duration: 2.5s !important;
}
.left-opening-gate {
	clip-path: inset(0 100% 0 0) !important;
	transition-duration: 2.5s !important;
}
.left-closing-gate {
	right: 20px;
	animation-duration: 2.5s !important;
	transition-duration: 2.5s !important;
}
.right-closing-gate {
	left: 20px;
	animation-duration: 2.5s !important;
	transition-duration: 2.5s !important;
}
